body {
    margin: 0px;
      font-family:serif;
  
   }
.topnav{
    width:100%;
    overflow: hidden;  
    padding:10px;
    position: fixed;
    top: 0;
    left:0;
    margin-right:20px; 
    font-family: Cursive;
    font-weight: bold;
  }
.contactt{
    margin-right:60px; 
}
nav ul{
    list-style: none;
    float: right;
 }
nav ul li{
    display:inline;
  
}
.bus i{
    color:rebeccapurple;
    font-size:35px;
   }
.bus {
   margin: 30px
   }
.topnav br{
    clear: both;
}
.contact{
    margin: 50px;
    box-shadow: 20px 40px 20px 40px  #EEEFF8;
    border-radius: 15px;
}
.bus-icon{
    margin-top: -40px;
    font-family: cursive;
}
.bus-icon a:hover{
    color: rebeccapurple;
}
.topnav a {
  color: rebeccapurple;
  padding: 15px 16px;
  text-decoration: none;
  font-size: 20px;
  transition-duration:0.9s;
}
.topnav a:hover{
 color: white;
  background-color: rebeccapurple;
   padding: 16px 16px; 
    border-radius:0px 20px 20px 30px;
  transition-property: all;
    transition-duration:1.9s;
}
.topnav a:active{
 color: red;
  background-color: white;
   
}

.home {
    color:black;
   padding-top:50px;
    padding-left: 70px;
    background-image:url('backgroundImg.png');
    background-repeat: no-repeat;
    background-size: cover;
/*    text-align: center;*/
}


.home h1{
    font-size: 30px;
    margin-top: 40px;
}

/*button on the home page section */
.button {
 background-color: white;
  border: none;
  color: rebeccapurple;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  text-transform: capitalize;
  font-family: cursive;
  border-radius:0px 20px 0px 20px;
  margin-left: 50px; 
 }
.button a{
 background-color: white;
  border: none;
  color: rebeccapurple;
 }
a{
    text-decoration: none;
    color: black
    
}
.homepar{
   border:3px solid rebeccapurple;
    
}
.button:hover{
 color: white;
  background-color: rebeccapurple;
  border-radius:0px 20px 0px 20px;   
 }
.button a:hover{
 color: white;
  background-color: rebeccapurple;
  border-radius:0px 20px 0px 20px;   
 }
#buttonHome{
    margin-left: 270px; 
    padding-top:220px;
    padding-bottom: 46px;
}
#homespan{
     font-size: 40px;
    font-family: Cursive;
    color: rebeccapurple;
}
.homep{
    font-size: 30px;
    font-weight: bold;
    font-family: cursive;
}
.h2top{
    display:block
    
}

.bor{
    width: 180px;
    height: 4px;
    margin: 5px auto 15px auto;
    background: rebeccapurple;
  
}
.contact h2,.services h2{
    text-align: center;
    font-size: 30px;
    font-weight: bold
}
.services h3{
    text-align: center;
    font-size: 20px;
    font-weight: bold
}
.services-body{
   
    margin:20px;    
}
.services1{
    padding-right: 90px;
}
.services2{
    padding-right: 50px;
}
 .top1{
    background: url(pic.jpg);
    width: 400px;
    height: 305px;
    top: 734px;
    left: 460px;

}
.top2{
    background: url(cleaning.jpg);
    background-size: cover;
    width: 400px;
    height: 255px;
    top: 850px;
    right: 20px;

}
.top3{
    background: url(train.jpg);
    background-size: cover;
    width: 450px;
    height: 300px;
    top: 1070px;
    right: 204px;

}
.servicesh2{
   text-align: right;
    width: 370px;
    font-family: Cursive;
    margin-left: 50px;
    color: rebeccapurple;
    margin-top: 60px;
}
.top {
    position:absolute;
    border-radius: 6px;
    box-shadow: 0px 2px 19px rgb(0 0 85 / 15%);
}
#cont{
    font-size: 20px;
    font-family: Cursive;
}
.contact-body{
       display:flex;
    justify-content: space-around;
}
.servicesub{
    display:flex;
    font-family: Cursive;
    justify-content: space-around;
    text-align: justify;
    margin-top: 350px
}
.servicesub h3{
 color: rebeccapurple;
    font-size: 20px;
}
footer{
    border-top:3px solid rebeccapurple;
    font-family: Cursive;
    font-size: 20px;
 margin:10px;
}
#insta{
margin-left: 680px;
    font-size: 25px;
}
#insta i {
margin-left: 20px;
    
}
#hamburger{
    display: none;
  cursor: pointer;
}
#hamburger-menu{
    display: none;
}
@media only screen and (max-width: 600px) {
   #hamburger{
       display: initial;
     margin-left:370px;
       margin-top: 27px;
       cursor: pointer;
}
/* if checkbox is checked dipslay the content of .navmenu  */
#hamburger-menu:checked ~ .navmenu{
    display: initial;
}
    .topnav nav ul li{
        display:block;
       transition: 0.5s;
       position: relative;
          justify-content: space-around;
       font-size: 5px;
       margin-top: 10px;
    }
    .navmenu ul{
        margin-top: -2px;
    }
  
     /* this codes mades the menu write up disapper */
    .topnav nav {
        position: relative;
        top:100%;left:0; right:0;
        background: #fff;
        display: none;
        border-top: 3px solid rgba(0,0,0,.1);
    } 
    .topnav a {
        color: rebeccapurple;
        font-size: 15px;
   
      }
      .topnav a:hover{
         padding: 7px 7px; 
          border-radius:0px 20px 20px 30px;
      }
    .contact-body{
        display: block;
    }
    .servicesub h1, .servicesub h2, .servicesub h3{
    font-size: 30px;
}
 #buttonHome{
    margin-left: 0px; 
    margin-top:-220px;
  
}
    .servicesub {
 display: block;
margin-top: 800px
}
 .servicesub p {
font-size: 20px;
text-align: center;
}
.button {
  margin-left: 0px;  
padding: 10px
 }
    .home h1{
    font-size: 30px;
}
    #homespan{
     font-size: 30px;
}
.homep{
    font-size: 20px;
}
    .home {
    color:black;
   padding-top:90px;
    padding-bottom: 30px;
}
    footer{
        font-size: 15px;
    }
    #insta{
margin-left: 60px;
    font-size: 20px;
}
#insta i {
margin-left: 20px;
    
}
     .top1{
    width: 350px;
    height: 255px;
    top: 1000px;
    left: 20px;
    z-index: 1;

}
.top2{
    width: 350px;
    height: 255px;
    top: 1220px;
    right: 20px;
   
}
.top3{
    width: 390px;
    height: 255px;
    top: 1460px;
    right: 74px;

}.servicesh2{
    margin-top: 30px;
}
    .map {
    margin: 10px;  
    }  
}

